In [1]:
import  stringtonumbers as s2n

## 1. Convert numeric string to number

In [2]:
s1 = "255"
s2 = "-255"
s3 = "255.0"
s4 = "-255.0"
s5 = "-255,123,000"
s6 = "-255,123,000.0"
s7 = "255/547"
s8 = 255
s9 = -255.0

In [7]:
n1 = s2n.string_to_num(s1)
n2 = s2n.string_to_num(s2)
n3 = s2n.string_to_num(s3)
n4 = s2n.string_to_num(s4)
n5 = s2n.string_to_num(s5)
n6 = s2n.string_to_num(s6)
n7 = s2n.string_to_num(s7)
n8 = s2n.string_to_num(s8)
n9 = s2n.string_to_num(s9)

print("n1:", n1, type(n1))
print("n2:", n2, type(n2))
print("n3:", n3, type(n3))
print("n4:", n4, type(n4))
print("n5:", n5, type(n5))
print("n6:", n6, type(n6))
print("n7:", n7, type(n7))
print("n8:", n8, type(n8))
print("n9:", n9, type(n9))

# Incorrect examples
# s2n.string_to_num("abc") # It will throw a ValueError: Invalid numeric string!
# s2n.string_to_num([]) # It will throw a ValueError: Invalid numeric input!

n1: 255 <class 'int'>
n2: -255 <class 'int'>
n3: 255.0 <class 'float'>
n4: -255.0 <class 'float'>
n5: -255123000 <class 'int'>
n6: -255123000.0 <class 'float'>
n7: 255/547 <class 'fractions.Fraction'>
n8: 255 <class 'int'>
n9: -255.0 <class 'float'>

## 2. Extract numbers from string

In [156]:
extract_nums_from_string(string1)

[225000000.0, -225000000.0, 25, 12, 0.12]

In [155]:
string1 = "If a number ,225,000,000.0ii is added to its r-225,000,000.0eciprocal the sum is 25/12. Find the nu00mber. .12."
string2 = "255,000,000abc"

In [24]:
s1 = -255
s2 = "-255"
s3 = "255,000"

In [35]:
print(string_to_num(255), type((string_to_num(255))))

255 <class 'int'>